body{
    width: 100%;
}
#navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    margin: 2px 2px;
    padding: 1px;
    text-decoration: white;
    text-indent: 5rem;
    text-align: center;
    font-weight: bold;
    transition-property: color;
    transition-duration: 0.5s;
    color: rgb(41, 39, 39);
}
#nonnavbar{
    display: flex;
    flex-direction: column;
}
#navbar img{
    height: 100px;
    width: 100px;
    margin: 3px 1px;
}
#hello{
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
    font-size: 15px;
}

#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    border-bottom: none;
}
#content{
    display: none;
}

.content{
    border-bottom: 1px solid grey;
    margin: 2px;
    font-size: 10px;
    box-shadow: 5px 5px 5px grey;
}
#overview{
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin: 20px;
    /* width: 200px; */
    border-radius: 8px;
    
}

body{
    margin-left: 10px;
    margin-right: 10px;
}

#tolerance_table img{
    width: 350px;    
}
#fits_img img{
    width: 350px;
}

#hamburger{
    display: inline;
}
#navbar span{
    float: top;

}
#Logo_hamburger{
    display: inline;
}

input[type=number], select {
    /* width: 100%; */
    width: 150px;
}
#calculate_rpm {
    width: 300px;
    font-size: 25px;
}
#rpm_answer{
    width: 300px;
}
#full_page_content{
    display: none;
}
body{
    margin-left: 0px;
}
#overview_content{
    align-items: center;
    justify-content: center;
}
p{
    font-size:10px;
}
.font_sizing{
    font-size: 10px;
}
#circuit_designing img{
    height: 320px;
    width: auto;
    border: 0.5px solid black;
    border-radius: 15px;
}
#components img{
    height: auto;
    width: 150px;
}
.special_components img{
    height: 50px;
    width: auto;
}
.question{
    font-size: 8px;
    padding: 10px;
}
.options{
    margin: 5px;
}
.subcontent{
    width: 250px;
}
#calculate_vir{
    width: 300px;
}
#circuit_images div img{
    height: 150px;
    width: auto;
}
#basic_wiring img{
    height: 250px;
    width: auto;
}
.area, .volume, .mass{
    width: 300px;
}
#components div img{
    height: 100px;
    width: auto;
}